div { 
    display: none;
    font-size: 12vh;
    font-family: 'Arial black', Helvetica, sans-serif;
    /*text-align: center;*/
    color: red;
}

input {
    width: 80vw;
    autocomple
}

p {
    margin: 0px;
    margin-left: 5vw;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

